body {
  font-family: "Inter", Arial, sans-serif;
  background-image: repeating-linear-gradient(45deg, rgb(45, 45, 75) 0%,rgb(60, 52, 92) 10%,rgb(45, 45, 71) 30%);
}
li {
  cursor:pointer;
}
li:hover {
  opacity:0.7;
}


#navOverlay {
  z-index: 20;
  display: none;
  opacity:0;
}
.navbar {
  background-color: rgb(45, 45, 75);
  box-shadow: 0 10px 170px rgba(255, 255, 255, 0.377);
}

#menuOpen {
    border-radius: 50%;
    padding: 20px;
    background-color: coral;
    right: 10px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
    justify-content: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    overflow: hidden;
    z-index: 6;
    margin: 0;
}

.discord-button {
  border-radius: 3px;
  padding: 12px 16px;
}

.discord-button.red {
  color: #fff;
  background-color: #f04747;
}

.discord-button.blue {
  color: #fff;
  background-color: #7e72e9;
}